.texto-menor {
    font-size: 13px;
}

.divs-facilidades {
    width: 325px;
}

.verde-limao {
    color: #DAFF01;
}

.botao-lilas {
    background-color:purple !important;
}
@media(max-width: 767px){
    .posicao{
        top:60%;
    }
}